import pandas as pdimport numpy as np



from pandas import Series, DataFrame
data = pd.read_csv('processed.cleveland.csv')

data = pd.DataFrame(data ,columns=['AGE','SEX','CP','TRESBPS','CHOL','FBS','RESTECG','THALACHE','EXANG','OLDPEAK','SLOPE','CA','THAL','NUM'])
data.head()

In [11]:
data = data.replace('?', np.NaN)
data.isnull().sum()
data.head(10)

,AGE,SEX,CP,TRESBPS,CHOL,FBS,RESTECG,THALACHE,EXANG,OLDPEAK,SLOPE,CA,THAL,NUM
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN